body {
  background-color:#ccc9c9;
  overflow: hidden;
}

.sidePanel {
  background-color: #242424;
  margin-left: -1px;
  width: 120px;
  height: 100vh;
  position: absolute;
  border-right: 2px groove whitesmoke;
  padding-top: 10px;
}

.formLeft, .formRight {
  padding-top:25vh;
}

.opacity-0 { 
  opacity: 0; 
 }

 .loginWrapper {
   background-color: #242424;
   border-radius:5px;
   color: whitesmoke;
   text-align: center;
   width: 200px;
   height:200px;
   position: absolute;
   top:0vh;
   left:110px;
   z-index: 3;
   padding-bottom:10px;
 }

 .loginWrapper input {
   outline: none;
   border-radius: 5px;
 }


 .modifyButton {
   justify-self: center;
   height:20px;
   width: 20px;
 }


 .color {
  top: 45px;
 }

 .color .modifyButton, .title .modifyButton {
  background-color: rgb(65, 140, 163);
  border-radius:5px;
  border:none;
  outline:none;
 }

 .color .modifyButton:active, .title .modifyButton:active {
   transform: scale(0.9);
 }

 .title {
   top:-20px;
 }

 .modifyChangerWrapper {
  border-bottom: 1px groove whitesmoke;
  border-top: 1px groove whitesmoke;
  padding:5px;
 }

 .modifyChangerWrapper input {
  position: relative;
  width:80%;
  height:20px;
  outline:none;
  font-size: 0.7em;
  margin-bottom:5px;
 }

 .title input:focus{
   width:250%;
   top:-8px;
  transform: scale(2);
 }

 .logout {
  position: relative;
  top:0vh;
 }

 .show {
   background-color: #5586a3;
 }

.modifyWrapper {
  width:100vw;
  height:100vh;
  position: absolute;
  top:120px;
  margin-left:120px;
  display: flex;
  justify-content: space-evenly;
 
}

.formContainer {
  width: auto;
  background-color:lightgray;
  height:100vh;
  margin-left: 120px;
  display: flex;
  justify-content: space-evenly;
}


.formContainer > * {
  font-family: Monaco,Courier,monospace;
}

.animated {
 transition: all 0.5s ease-in;
}

.formElementLarge {
  height: 50px;
  margin-bottom: 20vh;
}

h3 {
  font-size: 1em;
  margin:0;
  margin-bottom:5px;
  max-width: 30vw;
  min-height:45px;
  overflow-wrap: break-word;
 
}

.formTopRow {
  width: 80%;
  height: 60px;
  position: absolute;
  top:5vh;
  display: flex;
  justify-content: space-evenly;
}

.divider {
  width: 100%;
  height:5vh;
}

.formBottomRow {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: center;
}

.formBottomRow button {
  font-family: Monaco,Courier,monospace;
  background-color: #86a38d;
  outline: none;
  border: none;
  border-radius: 10px;
}

.formBottomRow button:active  {
  transform: scale(0.9);
}

.formBottomRow button:hover {
  color: whitesmoke;
}

.inputElementLarge {
border-radius:10px;
padding-left:5px;
padding-top:5px;
border: 1px solid #242424;
box-shadow: 0px 0px 40px #8b8a8ab6;
background-color: whitesmoke;
outline:none;
height: 20vh;
width:25vw;
font-size: 1em;
resize: none;
font-family: Monaco,Courier,monospace;
}

.tooltipLarge, .tooltipSmall {
  background-color:#4e4e4e;
  width:80px;
  position: relative;
  border-radius: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1px 1px;
  text-align: center;
  z-index: 3;
  padding-bottom:10px;
}

.modifyMenuElement {
  width: 100%;
  height: 30%;
  border:none;
  background-color: inherit;
  margin-bottom: 5px;
  outline:none;
}

.tooltipLarge {
  left:-120px;
  top:-20vh;
  box-shadow: 0px 0px 40px #8b8a8ab6;
}

.tooltipSmall {
  left:-120px;
  top:-30px;
  box-shadow: 0px 0px 40px #8b8a8ab6;
}

.tooltip p {
  color: whitesmoke;
  font-size: 0.7em;
  text-decoration-color: #f5f5f56b;
}


.inputElementSmall {
  outline:none;
  border-radius: 10px;
  height: 20px;
  padding-left:10px;
  border: 1px solid #242424;
  box-shadow: 0px 0px 40px #8b8a8ab6;
}

.sidePanel #login, .sidePanel #download, .sidePanel #logout { 
  background-size:cover;
  background-color: inherit;
  filter: invert(0.5);
  outline:none;
  height: 50px;
  width: 50px;
  border: none;
}

.sidePanel #login:hover, .sidePanel #download:hover, #logout:hover {
  transform: scale(1.05);
  filter: invert(1);
}

.loginButton {
  outline: none;
  border-radius: 5px;
  margin-top:10px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right:none;
  margin-left:10px;
}

.sidePanel button h4 {
  margin-top: 60px;
}

.sidePanel .iconContainer {
 justify-self: center;
 display: flex;
 justify-content: center;
}

.modify button {
  width: 20px;
  height: 20px;
  background-size:cover;
  background-color: inherit;
  border: none;
  filter: invert(0.5);
  outline:none;
  background-image: url('./pics/modify_icon.png');
}

.modify h4 {
  display:none;
}

.formElementLargeModify , .formElementSmallModify {
  position: relative;
}

.formElementLargeModify {
  margin:0;
  top:80px;
  right:25px;
}


.formElementSmallModify {
  top:70px;
  right:25px;
}

.login button, .logout button {
  background-image: url('./pics/login_icon.png');
 
}

.login {
  margin-bottom: 75vh;
}

.download button {
  background-image: url('./pics/download_icon.png');
}

#submit {
padding:5px;
border: 1px solid #242424;
box-shadow: 0px 0px 40px #8b8a8ab6;
}

#submit h4 {
  margin: 0;
  pointer-events: none;
}

.download h4 {
  margin-left:-10px;
}

.iconContainer button:active {
  transform: scale(0.95);
  outline:none;
  
}

.display-none {
  display: none;
}


