body {
  background-color:lightgray;
  overflow: hidden;
}

.sidePanel {
  background-color: #1b262c;
  margin-left: -1px;
  width: 120px;
  height: 100vh;
  position: absolute;
  border-right: 2px groove slategray;
  padding-top: 10px;
}

.dark {
  filter: brightness(0.4);
  z-index: -1;
}

.formBackground {
  position: absolute;
  left:-20vw;
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  filter: blur(8px);
  transform: scale(2);
  z-index: -1000;
}

.rotate {
  animation: rotation 120s infinite linear;
  z-index: -20;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.formLeft, .formCenter{
  padding-top:35vh;
}

.formLeft .inputElementSmall, .formCenter .inputElementSmall, #fs3TextArea  {
  position: absolute;
  top:15vh;
  justify-self: center;
}

.formLeft #fs1, .formCenter #fs2, .formRight #fs3 {
  position: absolute;
  top: 9vh;
}

.formCenter {
  margin-left:50px;
  margin-right: 50px;
}

.formRight {
  padding-top:36vh;
  width:100%;
}



.formRightPart1 {
  max-width: 48%;
  float: left;
}

.formRightPart2 {
  max-width: 48%;
  margin-left:6%;
  float:left;
}

.formRightBottom {
  margin-top:20vh;
  height: 49vh;
  width:100%;
}

.opacity-0 { 
  opacity: 0; 
 }

 .loginWrapper {
   background-color: #1b262c;
   border-radius:5px;
   color: whitesmoke;
   text-align: center;
   width: 200px;
   height:200px;
   position: absolute;
   top:0vh;
   left:110px;
   z-index: 3;
   padding-bottom:10px;
 }

 .loginWrapper input {
   outline: none;
   border-radius: 5px;
 }

 .modifyButton {
   justify-self: center;
   height: 20px;
   width: 20px;
 }

 .color {
  top: 45px;
 }

 .color .modifyButton, .title .modifyButton {
  background-color: rgb(65, 140, 163);
  border-radius:5px;
  border:none;
  outline:none;
 }

 .color .modifyButton:active, .title .modifyButton:active {
   transform: scale(0.9);
 }

 .title {
   top:-20px;
 }

 .modifyChangerWrapper {
  border-bottom: 1px groove whitesmoke;
  border-top: 1px groove whitesmoke;
  padding:5px;
 }

 .modifyChangerWrapper input {
  position: relative;
  width:80%;
  height:20px;
  outline:none;
  font-size: 1em;
  margin-bottom:5px;
 }

 .title input:focus{
   width: 300%;
   font-size: large;
 }

 .logout {
  position: relative;
  top:0vh;
 }

 .show {
   background-color: #5586a3;
 }

.modifyWrapper {
  width:100vw;
  height:100vh;
  position: absolute;
  top:120px;
  margin-left:120px;
  display: flex;
  justify-content: space-evenly;
}

.formContainer {
  max-width: 80vw;
  margin-left:240px;
  padding-left:10vw;
  height:100vh;
  display: flex;
  justify-content: center;
}

.formContainer > * {
  font-family: Monaco,Courier,monospace;
}

.animated {
 transition: all 0.5s ease-in;
}


.updateCycle {
  background-color: lightgrey;
  border-radius: 50%;
  border: 1px solid black;
  width:5px;
  height: 5px;
  position: absolute;
  left:3px;
  top:10px;
}

.green {
  background-color: #09d309;
}

.orange {
  background-color: orange;
}

h3, label {
  font-size: 1.2em;
  margin:0;
  margin-bottom:5px;
  max-width: 30vw;
  min-height:45px;
  color: #fdcb9e;
  filter: saturate(0.4);
  overflow-wrap: break-word;
  text-shadow: 1px 0 0 #1b262c, -1px 0 0 #1b262c, 0 1px 0 #1b262c, 0 -1px 0 #1b262c, 1px 1px #1b262c, -1px -1px 0 #1b262c, 1px -1px 0 #1b262c, -1px 1px 0 #1b262c;
}

.formTopRow {
  width: 42%;
  height: 60px;
  position: absolute;
  top:5vh;
  left:380px;
  display: flex;
  justify-content:space-evenly;
}

.divider {
  width: 100%;
  height:10vh;
}

.formBottomRow {
  position: absolute;
  bottom: 20px;
  display: flex;
  right:50vw;
  justify-content: center;
}

.formBottomRow button {
  font-family: Monaco,Courier,monospace;
  background-color: #86a38d;
  outline: none;
  border: none;
  border-radius: 10px;
}

.formBottomRow button:active  {
  transform: scale(0.9);
}


.formBottomRow button:hover {
  color: whitesmoke;
}

.inputElementLarge {
cursor: text;
padding-left:5px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
padding-top:5px;
border:0;
border-bottom: 2px solid silver;
color: whitesmoke;
background-color: transparent;
outline:none;
height: 30px;
width:20vw;
font-size: 1.2em;
font-family: Monaco,Courier,monospace;
max-width:20vw;
max-height: 200px;
}

.inputElementSmall {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.2em;
  outline:none;
  color:whitesmoke;
  cursor: text;
  height: 20px;
  padding-left:10px;
  background-color: transparent;
  border:0;
  border-bottom: 2px solid silver;
  opacity: 0.6;
  font-family: Monaco,Courier,monospace;
}

.inputElementLarge:focus, .inputElementSmall:focus {
  border-bottom:2px solid white;
  background-color: rgba(255, 255, 255, 0.075);
}

.tooltipLarge, .tooltipSmall, .tooltipChoice {
  background-color:#1b262c;
  width:80px;
  position: relative;
  border: 1px groove whitesmoke;
  border-radius: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1px 1px;
  text-align: center;
  z-index: 3;
  padding-bottom:10px;
}


.modifyMenuElement {
  width: 100%;
  height: 30%;
  border:none;
  background-color:inherit;
  margin-bottom: 5px;
  outline:none;
}

.tooltipLarge {
  left:-120px;
  top:-22vh;
}

.tooltipSmall {
  left:-120px;
  top:-30px;
}

.tooltip p {
  color: whitesmoke;
  font-size: 0.7em;
  text-decoration-color: #f5f5f56b;
}

.tooltipChoice {
  top:-5vh;
  left:-7.5vw;
}

.radioType1 > input[type="radio"] {
 transform: scale(2);
 filter: grayscale(0.8);
 opacity: 0.6;
}

.radioType1 {
  margin-bottom: 3vh;
  position: relative;
  top:-5vh;
  padding-left: 10px;
  padding-bottom: 10px;
  max-height: 10px;
}

.choiceElement {
  display: grid;
  justify-content:start;
  width: 100%;
  height:auto;
  border-radius: 10px;
  margin-left:2vw;
}

.choiceElement input  {
  margin-right: 15px;
}

.choiceElementTitle {
  position: relative;
  top:-5vh;
}


.sidePanel #login, .sidePanel #download, .sidePanel #logout, .sidePanel #display { 
  background-size:cover;
  background-color: inherit;
  filter: invert(0.5);
  outline:none;
  height: 50px;
  width: 50px;
  border: none;
}

.sidePanel #login:hover, .sidePanel #download:hover, #logout:hover, #display:hover {
  transform: scale(1.05);
  filter: invert(1);
}

.loginButton:hover {
  transform: scale(1.05);
  background-color: white;
}

.sidePanel #login:active, .sidePanel #download:active, #logout:active, #display:active {
  transform: scale(1);
}

.loginButton {
  outline: none;
  border-radius: 5px;
  margin-top:10px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right:none;
  margin-left:10px;
}

.loginButton:active {
  transform: scale(1);
}


.sidePanel #display {
  margin-bottom:40vh;
  background-size: contain;
}

.sidePanel button h4 {
  margin-top: 60px;
}

.sidePanel .iconContainer {
 justify-self: center;
 display: flex;
 justify-content: center;
}

.modify button {
  width: 20px;
  height: 20px;
  background-size:cover;
  background-color: inherit;
  border: none;
  filter: invert(0.5);
  outline:none;
  background-image: url('./pics/modify_icon.png');
}

.modify h4 {
  display:none;
}

.formElementLargeModify , .formElementSmallModify, .formElementChoiceModify {
  position: relative;
}

.formElementLarge {
  max-height: 100px;
  margin-bottom: 10vh;
}

.formElementLargeModify {
  margin:0;
  top:70px;
  right:30px;
}

.formElementChoiceModify {
  top:-25px;
  left:-40px;
}

.formElementSmall {
  max-height: 10px;
}

.formElementSmallModify {
  top: 70px;
  right: 25px;
}

.formLeft .formElementSmallModify, .formCenter .formElementSmallModify {
  top: -5vh;
  left: -30px;
}

.formLeft .tooltipSmall, .formCenter .tooltipSmall{
  top:-7vh;
}

.fs3 #modify {
position: relative;
top:-12vh;
left: -5px;
}

.fs3 .tooltipSmall {
  top:-7vh;
}


.login button, .logout button {
  background-image: url('./pics/login_icon.png');
}

.login {
  margin-bottom: 30vh;
}

.download button {
  background-image: url('./pics/download_icon.png');
}

#display {
  background-image: url('./pics/display_data.png');
}

#submit {
padding:5px;
border: 1px solid #1b262c;
box-shadow: 2px 2px 5px #1b262c;

}

#submit h4 {
  margin: 0;
  pointer-events: none;
}

.download h4 {
  margin-left:-10px;
}

.iconContainer button:active {
  transform: scale(0.95);
  outline:none;
  
}

.display-none {
  display: none;
}


