body {
  background-color:#10181d;
  overflow: hidden;
}

.sidePanel {
  background-color: #1b262c;
  margin-left: -1px;
  width: 10vw;
  max-width: 120px;
  height: 100vh;
  position: absolute;
  border-right: 2px groove slategray;
  z-index: 10;
}

.dark {
  filter: brightness(0.4);
  z-index: -1;
}

.formBackground {
  position: absolute;
  left:-20vw;
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  filter: blur(50px);
  transform: scale(2);
  z-index: -1000;
}

.displayDataForm {
  position: absolute;
  top:0;
  width: 100vw;
  height:110vh;
  z-index: -2;
}

.arrow_icon {
  filter: invert(0.4);
  width: 40px;
  height:40px;
  z-index: 3000;
  margin-top:30px;
}


.returnButton > img:hover {
  filter: invert(0.7);
  transform: scale(1.1);
}

.returnButton > img:active {
  transform: scale(0.9);
}

.rotate {
  animation: rotation 120s infinite linear;
  z-index: -20;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.formLeft, .formCenter{
  padding-top:25vh;
}



.formCenter {
  margin-left:50px;
  margin-right: 50px;
}

.formRight {
  width:100%;
}

.formRightPart1, .formRightPart2 {
  max-width: 10vw;
  display: grid;
  margin-left:5vw;
  margin-top:10vh;
}

.formRightPart1 {
  margin-top:20vh;  
}

.formRightPart2 {
  margin-top: 15vh;
}

.formRightBottom {
  margin-top:20vh;
  height: 49vh;
  width:100%;
}

.opacity-0 { 
  opacity: 0 !important; 
 }

 .scale-0 {
   transform: scale(0);
 }

 .loginWrapper {
   background-color: #1b262c;
   border-top-right-radius: 1px solid whitesmoke;
   border-right: 1px solid whitesmoke;
   border-bottom: 1px solid whitesmoke;
   border-radius:5px;
   color: whitesmoke;
   text-align: center;
   width: 200px;
   height:200px;
   padding-top:60px;
   position: absolute;
   top:0px;
   left:110px;
   z-index: 3;
   padding-bottom:10px;
 }

 .loginWrapper input {
  margin-bottom: 20px;
 }

 .loginWrapper > * {
   margin-top:0;
 }

 .loginWrapper input {
   outline: none;
   border-radius: 5px;
 }

 .loginWrapper > * {
   opacity: 0.8;
 }

 .modifyButton {
   justify-self: center;
   height: 20px;
   width: 20px;
 }

 .color {
  top: 45px;
 }

 .color .modifyButton, .title .modifyButton {
  background-color: rgb(65, 140, 163);
  border-radius:5px;
  border:none;
  outline:none;
 }

 .color .modifyButton:active, .title .modifyButton:active {
   transform: scale(0.9);
 }

 .title {
   top:-20px;
 }

 .modifyChangerWrapper {
  border-bottom: 1px groove whitesmoke;
  border-top: 1px groove whitesmoke;
  padding:5px;
 }

 .modifyChangerWrapper input {
  position: relative;
  width:80%;
  height:20px;
  outline:none;
  font-size: 1em;
  margin-bottom:5px;
 }

 .title input:focus{
   width: 300%;
   font-size: large;
 }

 .logout {
  position: relative;
  top:0vh;
 }

 .show {
   background-color: #5586a3;
 }

.modifyWrapper {
  width:100vw;
  height:100vh;
  position: absolute;
  top:120px;
  margin-left:120px;
  display: flex;
  justify-content: space-evenly;
}

.formContainer {
  overflow: hidden;
  max-width: 100vw;
  margin-left:4.2vw;
  padding-left:10vw;
  height:110vh;
  display: flex;
  justify-content: center;
}

.formContainer > * {
  font-family: Monaco,Courier,monospace;
}

.animated {
 transition: all 1s ease-in-out;
}

.transparent-background {
  background-color: transparent;
}


.updateCycle {
  background-color: lightgrey;
  border-radius: 50%;
  border: 1px solid black;
  width:5px;
  height: 5px;
  position: absolute;
  left:3px;
  top:10px;
}

.green {
  background-color: #09d309;
}

.orange {
  background-color: orange;
}

h3, label {
  font-size: 1em;
  margin:0;
  margin-bottom:5px;
  max-width: 30vw;
  min-height:45px;
  color: #fdcb9e;
  filter: saturate(0.4);
  max-width: 20vw;
  overflow-wrap: break-word;
  text-shadow: 1px 0 0 #1b262c, -1px 0 0 #1b262c, 0 1px 0 #1b262c, 0 -1px 0 #1b262c, 1px 1px #1b262c, -1px -1px 0 #1b262c, 1px -1px 0 #1b262c, -1px 1px 0 #1b262c;
}

#save h4 {
  margin: 0;
  pointer-events: none;
}

#save:active {
  transform: scale(0.9);
}


.formTopRow {
  height: 60px;
  position: absolute;
  left: 10vw;
  top: 5vh;
  display: flex;
  justify-content: space-evenly;
}


.formTopRow .topFs1, .formTopRow .topFs2, .formTopRow .topFs3 {
 margin-left:5vw;
}

.divider {
  width: 100%;
  height:10vh;
}

.formBottomRow {
  position: absolute;
  bottom: 60px;
  display: flex;
  right:50vw;
  justify-content: center;
}

.formBottomRow button {
  font-family: Monaco,Courier,monospace;
  outline: none;
  border-radius: 10px;
  padding:5px;
  width: 100px;
  background-color: #30444e;
  color: #f5f5f59d;
  border: 1px solid #1b262c;
  box-shadow: 2px 2px 5px #1b262c;  
}

.formBottomRow button:active  {
  transform: scale(0.9);
}

.formBottomRow button:hover {
  color: whitesmoke;
}

.inputElementLarge {
cursor: text;
padding-left:5px;
border-radius: 10px;
padding-top:5px;
border:0;
color: black;
background-color: #ffffffc0;
outline:none;
height: 20vw;
width:20vw;
font-size: 1em;
font-family: Monaco,Courier,monospace;
max-width:20vw;
max-height: 20vh;
min-height: 30px;
border: 1px solid #181818c0;
box-shadow: inset 1px 1px 1px #10181d;
resize: none;
}

.resetToDefaultButton {
  position: relative;
  top:10vh;
  left:-25%;
  border-radius: 5px;
  font-size: 0.8em;
  min-width:40%;
  border:2px groove whitesmoke;
  outline:none;
  color: whitesmoke;
  padding:5px;
  background-color: rgb(153, 4, 4);
}

.inputElementSmall {
  width: 15vw;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.2em;
  outline:none;
  color:whitesmoke;
  cursor: text;
  height: 20px;
  background-color: transparent;
  border:0;
  border-bottom: 2px solid silver;
  opacity: 0.6;
  font-family: Monaco,Courier,monospace;
}

.inputElementSmall:focus{
  border-bottom:2px solid white;
}

.tooltipLarge, .tooltipSmall, .tooltipChoice {
  background-color:#1b262c;
  width:80px;
  position: relative;
  border: 1px groove whitesmoke;
  border-radius: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1px 1px;
  text-align: center;
  z-index: 10;
  opacity: 0.9;
  padding-bottom:10px;
}


.modifyMenuElement {
  width: 100%;
  height: 30%;
  border:none;
  background-color:inherit;
  margin-bottom: 5px;
  outline:none;
}

.tooltipLarge {
  left:-120px;
  top:-19.5vh;
}

.tooltipSmall {
  left:-120px;
  top:-30px;
}

.tooltip p {
  color: whitesmoke;
  font-size: 0.7em;
  text-decoration-color: #f5f5f56b;
}

.tooltipChoice {
  top:-3.6vh;
  left:-130px;
}

.radioType1 > input[type="radio"] {
 transform: scale(2);
 filter: grayscale(0.8);
 opacity: 0.6;
}

.radioType1 {
  margin-bottom: 3vh;
  position: relative;
  top:-5vh;
  padding-left: 10px;
  padding-bottom: 10px;
  max-height: 10px;
}

.choiceElement {
  display: grid;
  justify-content:start;
  width: 100%;
  height:auto;
  border-radius: 10px;
  margin-left:5vw;
}

.choiceElement input  {
  margin-right: 15px;
}

.choiceElementTitle {
  position: relative;
  top:-5vh;
  justify-self: start;
}


.sidePanel #login, .sidePanel #download, .sidePanel #logout, .sidePanel #display { 
  background-size:cover;
  background-color: inherit;
  filter: invert(0.5);
  outline:none;
  height: 50px;
  width: 50px;
  border: none;
}


.sidePanel #login:hover, .sidePanel #download:hover, #logout:hover, #display:hover  {
  transform: scale(1.05);
  filter: invert(1);
}

.displayDataForm #return {
  margin-left:160px;
  margin-top:80px;
  width: 40px;
  height: 40px;
  background-size:cover;
  background-color: inherit;
  border: none;
  filter: invert(0.5);
  outline:none;
  background-image: url('./pics/arrow.png');
}

.displayDataForm h1 {
  color: whitesmoke;
  position: absolute;
  top:40vh;
  left:48vw;
}

#return:hover {
  filter: invert(0.8);
  transform: scale(1.1);
}

#return:active, #reset:active {
  transform: scale(0.9);
}

.resetToDefaultButton:hover {
  transform: scale(1.1);
}

.loginButton:hover {
  transform: scale(1.05);
  background-color: white;
}

.sidePanel #login:active, .sidePanel #download:active, #logout:active, #display:active {
  transform: scale(1);
}

.loginButton {
  outline: none;
  border-radius: 5px;
  margin-top:10px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right:none;
  margin-left:10px;
}

.loginButton:active {
  transform: scale(1);
}

.sidePanel #display {
  margin-bottom:40vh;
  background-size: contain;
}

.sidePanel button h4 {
  margin-top: 60px;
}

.sidePanel .iconContainer {
 justify-self: center;
 display: flex;
 justify-content: center;
}

.modify button {
  width: 20px;
  height: 20px;
  background-size:cover;
  background-color: inherit;
  border: none;
  filter: invert(0.5);
  outline:none;
  background-image: url('./pics/modify_icon.png');
}

.modify h4 {
  display:none;
}

.formElementLargeModify , .formElementSmallModify, .formElementChoiceModify {
  position: relative;
}

.formElementLarge {
  max-height: 100px;
  margin-bottom: 10vh;
}

.formElementLargeModify {
  margin:0;
  top:85px;
  right:30px;
}

.formElementChoiceModify {
  top:-25px;
  left:-40px;
}

.formElementSmall {
  max-height: 10px;
}

.formElementSmallModify {
  top: 70px;
  right: 25px;
}

.formLeft .formElementSmallModify, .formCenter .formElementSmallModify {
  top: -10vh;
  left: -30px;
}

.formLeft .tooltipSmall, .formCenter .tooltipSmall{
  top:-12.8vh;
}


.login button, .logout button {
  background-image: url('./pics/login_icon.png');
  margin-top:5vh;
}

.login {
  margin-bottom: 30vh;
}

.download button {
  background-image: url('./pics/download_icon.png');
}

#display {
  background-image: url('./pics/display_data.png');
}

#display button {
  background-color: coral;
}


.download h4 {
  margin-left:-10px;
}

.iconContainer button:active {
  transform: scale(0.95);
  outline:none;
}

.inputElementLarge::-webkit-scrollbar {
  width: 10px;              
}
.inputElementLarge::-webkit-scrollbar-track {
  background: transparent;        
}
.inputElementLarge::-webkit-scrollbar-thumb {
  background-color: #00000041;
  border-radius: 10px;
  max-height: 20px;     
  border: 1px solid rgb(0, 0, 0); 
}

.display-none {
  display: none;
}

@media only screen and (max-width: 1110px) { 
  .loginWrapper {
    margin-left:-20px;
  }
}

@media only screen and (max-width: 900px) {
  .choiceElement, .formRightPart1, .formRightPart2 {
    margin-left:0;
  }

  .loginWrapper {
    margin-left:-40px;
  }
}

@media only screen and (max-width: 800px) {

  .formTopRow .tooltipSmall {
    top:10px;
    left:-20px;
  }

  .tooltipLarge {
    top:-280px;
    left:0;
  }
  
  /* TODO: fl2 tool tip is out of place. */
  #fl2Modify {
   position: relative;
   top:180px;
  }

  #fl3Modify {
    left:-15px;
  }

  #fl4Modify {
    top:180px;
    left: -15px;
  }

  #fl4Tooltip {
    left: 15px;
  }

  #fl3Tooltip {
    left:15px;
  }

  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .formCenter {
    position: absolute;
    margin-top: 130vh;
    min-width: 85vw;
   /*  background-color: lemonchiffon; */
  }

  .formCenter .inputElementLarge {
    margin-left:2vw;
    min-width:80vw;
    min-height:30vh;
  }

 .formLeft {
   display: flex;
   position: relative;
 }

 .formRight .formRightPart1, .formRight .formRightPart2 {
    display: flex;
    float: left;
    margin:0;
    justify-content: space-evenly;
    margin-top:230px;
    min-width: 40vw;
   /*  background-color: lightblue; */
 }

 .formRight .choiceElement h3  {
  justify-self: center;
}

.formLeft {
  /* background-color: lightgray; */
  position: absolute;
  top:50vh;
  display: grid;
  min-width: 85vw;
  justify-content: center;
}

.formLeft .inputElementLarge {
  min-width:80vw;
  min-height:30vh;
}

.formElementLarge > h3 {
  /* background-color: lightblue; */
  min-width: 60vw;
  padding-left:30%;
}

#fl2, #fl2 .inputElementLarge, #fl4, #fl4 .inputElementLarge {
  margin-top:10vh;
}

  .choiceElement {
    display: grid;
    justify-content: center;
    margin-left: -3vw;
    margin-top:44vh;
}

 .formRightPart1 {
  left:30vw;
 }

 .formRightPart2 {
   right: 30vw;
 }

 .formRightPart1 .tooltipSmall, .formRightPart2 .tooltipSmall {
    top:10px;
    left: -30px;
 }

 .formTopRow {
   margin:0;
   margin-top:80px;
   margin-left:-10vw;
   width: 100vw;
   display: flex;
   justify-content: space-evenly;
 }

 .inputElementSmall {
   min-width: 25vw;
 }


 .sidePanel {
  max-width: none;
  border:0;
  border-bottom:  2px groove slategray;
  width: 110vw;
  height:11vh;
}

.sidePanel .iconContainer {
  position: absolute;
 }

 .login, .logout {
  top:-30px;
   left:5vw;
 }

 .download {
   top:20px;
   left: 85vw;
 }

 .display {
   top:20px;
   left: 45vw;
 }

 .display h4 {
   margin-left:-25px;
   width:100px;
 }


 .loginWrapper {
   margin:0;
   left:0;
   top:10vh;
 }

 .displayDataForm #return{
  margin-top:160px;
  margin-left:20px;
 }

 #reset {
   top:35vh;
   left:24vw;
 }

 
}
