body {
  background-color:#ccc9c9;
  overflow: hidden;
}

.sidePanel {
  background-color: #242424;
  margin-left: -1px;
  width: 120px;
  height:100vh;
  position: absolute;
  border-right: 2px groove whitesmoke;
}

.display-none {
  display: none;
}

.opacity-0 {
  opacity: 0;
}

.topPanel {
  width: 100vw;
  height: 120px;
  max-height: 120px;
  margin-left: 120px;
  border-bottom: 2px groove whitesmoke;
  display: flex;
  justify-content: space-evenly;
}

.titleElement {
  font-family:  "Courier New", Courier, monospace;
  position: relative;
  font-size: 2em;
  top: 40%;
  
}

.FormContainer {
  padding-top:20px;
  width: auto;
  height:100vh;
  margin-left: 120px;
  display: flex;
  justify-content: space-evenly;
}

.FormContainer > * {
  font-family: "Courier New", Courier, monospace;
}

.animated {
 transition: all 0.4s ease-in;
}

.formElement {
 
  height: 50px;
}

h3 {
  margin:0;
  margin-bottom:5px;
}

.inputElement {
border-radius:50px;
border: 1px solid whitesmoke;
background-color: rgb(255, 251, 251);
outline:none;
padding-left:10px;
}

.formElement:hover {
  opacity: 0;
}

